margin-bottom: -/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #57aecf;
    background: #003a65;
}
/* Link Styles */

.nav a {
  text-decoration: none;
  color: #1e7ba8;
}
.nav a:hover {
  color: white;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}


header {
  line-height: 1.5;
}

header .profile-image:hover {
  transform: scale(1.1) rotate(360deg);
  border: 3px solid #960088;
}
.tag {
  background-color: #57aecf;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: black;
  color: #57aecf;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  background: #137acca8;
  border-bottom: 4px solid 	#960088;
    border-radius: 6px;
  transition: all .5s;

}

.shortCard {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: center;
    background: #137acc59;
    border-bottom: 4px solid 	#960088;
    border-radius: 6px;
    transition: all .5s;
    width: 25%;
    height: 50%;
}
.card:hover {
  border-color: #002746;
}
.shortCard:hover {
  border-color: #002746;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #c104ff85;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #960088;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}


  .card,.shortCard{
    max-height: 50%;
  }

  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }


    .card p {
      color: #46a29f;
      /* line-height: 1.6em; */
      /* font-size: 15px; */
    }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

h2 {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.card a, .shortCard a{
  color: black;
  text-decoration: none;
}

.card a:hover, .shortCard a:hover{
  color: #e8a87c;
  font-style: italic;
}




tr {
    padding: 8px 12px;
    /* border: 1px solid #5cdb94; */
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* background-color: #5cdb94; */
    color: #065089;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
  .shortCard {
    width: 50%;
    margin-left: 25%
  }

}

.mobile {
    padding: 8px 1.3em;
    background-image: url(https://image.flaticon.com/icons/svg/254/254040.svg);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}
@media only screen and (max-width: 600px) {
 header {
    background:  url('./mobile.jpg') no-repeat top center ;
  }
  .mobile{
display: none;
  }

.nav a {
  text-decoration: none;
  color: #357290;
  margin-bottom: 2em;
  font-size: 20px;
}
.main-nav {
  display: none;
}

.card{
  margin-top: 3.1em;
}
}

.icon {
  background-image:url(https://www.flaticon.com/premium-icon/icons/svg/1618/1618812.svg);
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  transition: all .5s;
}
0px;/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #57aecf;
    background: #0a0b10;
}
/* Link Styles */

.nav a {
  text-decoration: none;
  color: #6fc5d6;
}
.nav a:hover {
  color: white;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  border-bottom: 4px solid #6fc5d6;
  opacity: 0.5;
}


.main-nav:hover {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  border-bottom: 4px solid #6fc5d6;
  opacity: 1.5;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: url('./banner.jpg') no-repeat top center;
  /* background-size: cover; */
  overflow: hidden;
  padding-top: 60px;
  margin-bottom: -50px;
  background-size: 100%;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 70%;
  border: 3px solid #67c6e8;
  transition: all .5s;
  margin-bottom: 2em;
  background-size: 100%;
}
header .profile-image:hover {
  transform: scale(1.1) rotate(360deg);
  border: 3px solid #960088;
}
.tag {
  background-color: #57aecf;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}
.location {
  background-color: black;
  color: #57aecf;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: center;
  background: #171d29;
  border-bottom: 4px solid 	#960088;
  border-radius: 6px;
  transition: all .5s;
}

.shortCard {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: center;
    background: #137acc59;
    border-bottom: 4px solid 	#960088;
    border-radius: 6px;
    transition: all .5s;
    width: 25%;
    height: 50%;
}
.card:hover {
  border-color: #002746
}
.shortCard:hover {
  border-color: #002746
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #f4d3ff47;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #960088db;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
.contentButton{
  right: 47.3%;
}
  header {
    min-height: 0px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
    font-size: 18px;
    font-weight: bold;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

  .card{
    margin-bottom: auto;
  }

}

h2 {
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.card a, .shortCard a{
  color: white;
  text-decoration: none;
}

.card a:hover, .shortCard a:hover{
  color: #e8a87c;
  font-style: italic;
}


.card-image{
  width: 50%;
  border-radius: 1.5em;
  max-height: 35%;
  display: flow-root;
  margin: auto;
}


tr {
    /* padding: 8px 12px; */
    /* border: 1px solid #5cdb94; */
    /* border-radius: 2px; */
    /* font-family: Helvetica, Arial, sans-serif; */
    font-size: 14px;
    /* background-color: #5cdb94; */
    /* color: #065089; */
    /* text-decoration: none; */
    /* font-weight: bold; */
    /* display: inline-block; */
}

@media only screen and (max-width: 600px) {
  .shortCard {
    width: 50%;
    margin-left: 25%
  }

}

.mobile {
    padding: 8px 1.3em;
    background-image: url(https://image.flaticon.com/icons/svg/254/254040.svg);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}
@media only screen and (max-width: 600px) {
 header {
    background:  url('https://images.unsplash.com/photo-1526498460520-4c246339dccb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat top center ;
  }
  .mobile, .contentButton{
display: none;
  }

.nav a {
  text-decoration: none;
  color: #1e7ba8;
  margin-bottom: 2em;
  font-size: 20px;
}
.main-nav {
  display: none;
}
header{
 margin-top: -75px
}

.card{
  margin-top: 3.1em;
  width: auto;
}
.shortCard{
  margin: auto;
  margin-top: 50px
}

-webkit-scrollbar {
    display: none;
}
.skills li {
     word-wrap: break-word;
}

}

.icon {
  background-image:url(https://www.flaticon.com/premium-icon/icons/svg/1618/1618812.svg);
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  transition: all .5s;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

a.email {
  padding: 8px 12px;
  font-family: Helvetica Arial, sans-serif;
  font-size: 14px;
  color: #0a0b10;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  border-bottom: 4px solid 	#a04998;
  border-radius: 6px;
  transition: all .5s;
  background-color: #5cdb94;
}

.email:hover {
  border-color: #002746
}

.email:active {
  color: aqua;
  background-color: #3e8e41;
  box-shadow: inset 10px 10px 5px #888888,
                    inset -10px -10px 5px #888888;
    transform: translateY(4px);
}

.hobies-image{
  width: 100%;
  border-radius: 100em;
  max-height: 35%;
  display: flow-root;
  margin: auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #c5c6c8;
  color: #0a0b10;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: black;
  color: #fc4444;
}

.contentButton {
  display: show;
  position: fixed;
  bottom: 70%;
  right: 0;
  left: auto;
  z-index: 100;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #c5c6c8;
  color: #000000;
  cursor: pointer;
  padding: x;
  border-radius: 4px;
  opacity: 0.3;
}

.contentButton:hover {
  background-color: black;
  color: #fc4444;

}

@font-face {
  font-family: 'Arvo';
  font-display: swap;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

div.card, div.shortCard{
  color: #66fcf1;
  font-weight: bold;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
